<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Samia Ben Aziz</title>
</head>
<body>
    <a href="/home">Back to Home</a>
    <a href="/works"> What Samia Does</a>

    <p>Who is Samia Ben Aziz</p>
    <p>Samia Ben Aziz is the woman that gave birth to me 22 years ago</p>
    <p>She is my mom and a very big inspiration to me and my sisters </p>
    <p>She's one of the strongest woman I know and one of the person I love the most on this planet </p>
</body>
</html>