<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet/style.css" rel="stylesheet">
    <title>My Mom</title>
</head>
<body>
    <h1> Samia Ben Aziz, a mother like no other </h1>

    <div>
        <div>
            <a href="/about"> Learn About Samia</a>
            <a href="/works"> What Samia Does</a>
        </div>
    
        <img src="Images/roses.jpg" alt="roses">
    </div>

</body>
</html>